body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.navbar-brand>img{
    max-height:100%;
    vertical-align:bottom;
}

.icon-placeholder {

    display:flex;
    justify-content:center;
    align-items:center;
    max-height:100%;
    height:50vh;
}
.icon-placeholder>p{
    text-align:center;
}
.icon-placeholder>p>i.fa {
    font-size:10em;
}


/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 30%;
}
*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}