{% extends "layout.html" %}

{% block content %}

<h1>Configuration</h1>
<div class="row">
<div class="list-group col-sm-6 col-">
{% for tgroup in groups %}

    <div class="list-group-item">
    <div class="media">
        <div class="media-left">
            <a href="{{url_for('admin.config_section', section=groups[tgroup].section)}}">
                <i class="media-object fa fa-fw fa-5x {{ groups[tgroup].icon }}"></i>
            </a>
        </div>
        <div class="media-body">
            <a href="{{url_for('admin.config_section', section=groups[tgroup].section)}}">
            <h4 class="media-heading">{{groups[tgroup].name}}</h4>
            </a>
            <p>{{groups[tgroup].desc}}</p>
        </div>
    </div>
    </div>

{% endfor %}
</div>
    </div>
{% endblock %}
